/* * {
    border: 1px solid black;
} */

:root {
    --lightest: #FAF6EE;
    --transition: #F5ECD9;
    --lighter: #F0E1C4;
    --light: #EAD7B1;
    --medium: #C4B28F;
    --dark: #766952;
    --darker: #584E3E;
    --darkest: #373126;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;

    --s: 30px; /* control the size*/    
    --_g: 0 120deg,#0000 0;

    background:
      conic-gradient(from    0deg at calc(500%/6) calc(100%/3),var(--medium) var(--_g)),
      conic-gradient(from -120deg at calc(100%/6) calc(100%/3),var(--light) var(--_g)),
      conic-gradient(from  120deg at calc(100%/3) calc(500%/6),var(--lighter) var(--_g)),
      conic-gradient(from  120deg at calc(200%/3) calc(500%/6),var(--lighter) var(--_g)),
      conic-gradient(from -180deg at calc(100%/3) 50%,var(--light)  60deg,var(--lighter) var(--_g)),
      conic-gradient(from   60deg at calc(200%/3) 50%,var(--lighter)  60deg,var(--medium) var(--_g)),
      conic-gradient(from  -60deg at 50% calc(100%/3),var(--lighter) 120deg,var(--light) 0 240deg,var(--medium) 0);
    background-size: calc(var(--s)*1.732) var(--s);
}

.title {
    text-decoration: none;
    color: var(--lightest)
}

#container {
    display: flex;
    flex-direction: column;
    grid-template-areas:
    "header header header"
    "main-content main-content main-content"
    "main-content main-content main-content"
    "new new new";
    transition: 0.5s;
}

/* header section */

.header {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-area: header;
}

.header .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--darker);
    padding: 0 12px 0 12px;
    font-weight: 700;
}

.header .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--lightest);
}

.right .title {
    font-size: 24px;
    text-align: center;
}

.header .bottom {
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    text-align: center;
    
    background: var(--darker);
    box-shadow: 0 7px 12px -3px var(--darker);
    padding-bottom: 12px;
    margin-bottom: 28px;
}

.bottom a {
    text-decoration: none;
    color: white;
}

/* main-content section */

.main-content {
    display: flex;
    flex-direction: column;
    grid-template-areas: main-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.cards {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
    height: fit-content;
}

.card {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 150px;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 18px;

    border: 1px solid var(--dark);
    border-radius: 10px;
    background-color: white;
}

.title {
    font-size: 32px;
    text-align: right;
}

.author {
    font-size: 16px;
}

.pages {
    font-size: 16px;
}

.remove-btn {
    width: 68px;
    height: 24px;
    background-color: var(--darkest);
    color: var(--light);
    border-radius: 10px;
    border: none;
}

.status {
    width: 68px;
    height: 24px;
    background-color: red;
    color: var(--light);
    border-radius: 10px;
    border: none;
}

.status:hover {
    border: 2px solid black;
}

.remove-btn:hover {
    border: 2px solid var(--medium);
}

.section {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/* interactive slide-in sidebar styling */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* modal section for input form */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: none;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darker);
    color: var(--lightest);
    border-radius: 10px 10px 0 0;
}

.close-button {
    color: var(--lightest);
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.add {
    margin-top: 12px;
    padding: 8px;
    width: fit-content;
    background-color: var(--darker);
    color: var(--lighter);
    border: none;
    border-radius: 10px;
    width: 120px;
}

/* form styling */

form {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

input, select, label {
    width: 416px;
    margin: 12px;
}

input[type=submit] {
    width: 150px;
    align-items: center;
}

input:focus {
    background: rgba(0,0,0,0.1);
}

.submit {
    display: flex;
    align-content: center;
    justify-content: center;
}

/* book list styling on separate page */

.book-list {
    height: 500px;
    width: 500px;
}

  