* {
    border: 1px solid black;
}

.container {
    display: grid;
    grid-template-areas:
    "header header header"
    "sidebar main-content main-content"
    "sidebar main-content main-content";
}

.header {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    grid-area: header;
}

.header .left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}

.left .title {
    font-size: 24px;
}

.header .right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.sidebar {
    display: grid;
    grid-template-areas: sidebar;
    width: 100px;
}

.main-content {
    display: grid;
    grid-template-areas: main-content;
    justify-content: center;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.card {
    height: 200px;
    width: 200px;
}